<!DOCTYPE html>
<html>
  <head>
    <title>MatterjsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <%= yield %>
  </body>
</html>
